.about-window {
    margin: 0px 10px;
    line-height: 1.5;
    overflow: auto;
}
.currentwindow {
    z-index: 99;
}
.terminal-window input {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    width: fit-content;
}
