.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(22, 22, 22, 0.939);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.modal {
    z-index: 2;
}