.window {
    position:fixed ;
    background-color: #202020;
    width: 600px;
    height: 60%;
    color: white;
    border-radius:20px ;
    box-shadow: rgba(0, 0, 0, 0.714) 0px 48px 100px 0px;
    overflow: auto;
}
@media screen and (max-width: 600px){
    .window {
        width: 90%;
        height: 60%;
    }
}
.maxmize {
    width: 100%;
    height: 100%;
}

.handle {
    border-radius:15px 15px 0px 0px  ;
    background-color: black;
    width: 100%;
    height: 30px;
    color: white;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px ;
    box-sizing: border-box;
}
.handle-right {
    z-index: 14;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.handle-left {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.handle-left img {
    width: 20px;
    padding-right:10px ;
}
.handle-right-close {
    cursor: pointer;
}