.Header {
    width: 100vw;
    height: 30px;
    background-color: #1b1b1b;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 2%;
}
.Header-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 80px;
    margin: 0%;
    padding:0%;
}
.Header-notification , .Header-date  {
    height: fit-content;
    padding: 2px 12px;
    border-radius: 20px;
    cursor: pointer;
}
.Header-setting {
    padding: 0px 12px;
    border-radius: 20px;
    cursor: pointer;

}
.Header-setting:hover , .Header-date:hover ,.Header-notification:hover {
    background-color: rgb(54, 54, 54);
}


.Header-date-responsive ,.Header-notification-responsive {
    width: 30px;
    height: 20px;
    display:grid ;
    place-items: center;
    border-radius: 5px;
    cursor:pointer;
}
.Header-date-responsive:hover ,.Header-notification-responsive:hover {
    background-color: rgb(54, 54, 54);
}
.Header-responsive {
    align-items: center;
    justify-content: center;
    display: none;
}
@media screen and (max-width: 450px) {
    .Header-responsive {
        display: flex;
    }
    .Header-date ,.Header-notification {
        display: none;
    }
}
