body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: cascadiacode;
  src: url(./assests/Cascadia.ttf);
}
* {
  font-family: cascadiacode , monospace;
  margin: 0%;
  padding: 0%;

}
*:-webkit-full-screen {
  height: auto !important;
  width: auto !important;
}


